body{
    background-image: url(./imagenes/Diseño\ sin\ título\ \(1\).jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    
}


.titulo{
    color: rgb(3, 3, 3);
    font-family: 'Merienda', cursive;
    font-size: 400%;
    text-align: center;
    margin: 5% 5% 5% 5%;
}

.subtitulo{
    color: black;
    font-family: 'Merienda', cursive;
    font-size: 200%;
    text-align: center;
}

.oracion{
    color: black;
    font-family: 'Merienda', cursive;
    font-size: 20px;

}



button{
    width: 250px;
    height: 50px;
    background-color: rgb(252, 237, 72);
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 1s;
    text-align: center;
    display: inline-block;
    font-family: 'Merienda', cursive;
    font-size: 30px;
    
    
}

.boton:hover{
    background-color: azure;
}

